<div class="wrapper">
<div class="container topc">
	<br>
	<h2>Projects</h2>
	<p>
		Introduction/If you want to join...<br /><br />
    Here are some of our projects that we have done or are in progress. If you would like to start a project, don't be afraid to contact us for resources.
	</p>
	<p>
		Future Table of Contents...<br />
    Arcade Machine
	</p>
</div>

<div class = "container">
  <br>
  <h2>IEEE Arcade Machine</h2>
  <br />
  <h3>Week 1</h3>
  <p>We finally got our arcade machine in! The cabinet is in rough shape and it will need some work but it’s definitely in working condition. We got to play around with the original game before saying goodbye to it.</p>
 <div class="slider">
    <ul class="slides transparent">
      <li>
				<img src="assets/img/arcade-project-pictures/Week1Pic1.jpg" alt="first slide">
				<div class="caption center-align">
        </div>
      </li>
      <li>
        <img src="assets/img/arcade-project-pictures/Week1Pic2.jpg" alt="second slide">
      </li>
    </ul>
  </div>

<br><br/>
<br><br/>
  <h3>Week 2</h3>
  <p>We opened up the cabinet to look at everything inside… We have our work cut out for us. First thing we need to do is take out all the controls and the monitor.</p>
  <div class="slider">
     <ul class="slides transparent">
       <li>
 				<img src="assets/img/arcade-project-pictures/Week2Pic1.jpg" alt="first slide">
       </li>
       <li>
         <img src="assets/img/arcade-project-pictures/Week2Pic2.jpg" alt="second slide">
       </li>
       <li>
 				<img src="assets/img/arcade-project-pictures/Week2Pic3.jpg" alt="first slide">
       </li>
       <li>
 				<img src="assets/img/arcade-project-pictures/Week2Pic4.jpg" alt="first slide">
       </li>
       <li>
 				<img src="assets/img/arcade-project-pictures/Week2Pic5.jpg" alt="first slide">
       </li>
     </ul>
   </div>

  <br><br/>
  <br><br/>
  <h3>Week 3</h3>
  <p>The cabinet is almost fully cleaned out. This week we finished taking out the monitor. This was pretty tricky. We had to make sure that we discharged the cathode ray tube and that we didn’t crack the monitor as we took it out. Safety is always first!!</p>
  <div class="slider">
     <ul class="slides transparent">
       <li>
 				<img src="assets/img/arcade-project-pictures/Week3Pic1.jpg" alt="first slide">
       </li>
       <li>
         <img src="assets/img/arcade-project-pictures/Week3Pic2.jpg" alt="second slide">

       </li>
     </ul>
   </div>

   <br><br/>
  <br><br/>
  <h3>Week 4</h3>
  <p>Now comes the boring stuff. We’re searching around for the parts that we will need: 2 joysticks and whole lot of buttons! When we get those in, we’ll start putting things together. We’ll be putting in a computer unit, monitor, speakers and lighting. The really fun part will come when we start writing the front-end software.</p>
</div>
